@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.logo{
  width: 80px;
  height: 80px;
}
#header{
  background-color: #000;
  color: #FDFEFF;
  background-image: linear-gradient( rgb(3, 1, 1), rgb(7, 5, 5));
  padding: 2rem 10rem;
}
.hero{
  height: 400px;
  width: 400px;
  margin-left: 5rem !important;
  }
h1{
  font-size: 4.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;

}
h3{
  font-family: 'DM Sans', sans-serif;
  padding-top: 2rem;
  font-size: 2rem;
  letter-spacing: .3rem;
}
.carosel-head{
font-weight: 700;
font-size: 3rem;
}
.pizzeria{
    letter-spacing: .5rem;
}
.pizzeria,.price{
  color: #FA7D1E;

}
.price{
  font-size: 2.5rem;
  font-weight: 700;
}
.bar{
  padding: 0 0;
}

.content-main{
padding: 3rem 0;
}
.ios{
  margin-left: 5rem;
}
#carusel{
  text-align: center;
  padding: 4rem 0;
}
.card-img{
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
.border-bm{
  width: 20%;
  margin: 0 auto;
  border-bottom: 25px dotted #FA7D1E !important;
}